/*Cabezera de paguina y menu de navegacion*/
body{
    display: flex;
    flex-direction: column;
    align-items: space-between;
}
#header{
    display: flex;
    margin: 0px;
    padding: 2px;
    justify-content: space-between;
    background-color: aqua;
    border-radius: 8px;
}

.titulo a{
    text-decoration: none;
    color: black;
}

.titulo{
    width: 200px;
    margin: 1px;
    padding: 2px;
}

nav{
    display: inline-block;
    padding: 2px;
    margin: 2px;
}

#menu-nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    padding: 2px;
    margin: 2px;
}

#menu-nav li{
    float: left;
    margin: 2px;
    padding: 2px;
}

#menu-nav a{
    padding: 6px;
    border-radius: 8px;
    background-color: aliceblue;
    text-decoration: none;
    color: black;
}

/*Pie de pagina*/

#footer{
    margin: 2px;
    padding: 12px;
}