/*Cabezera de paguina y menu de navegacion*/

#header{
    display: flex;
    margin: 1px;
    padding: 2px;
    justify-content: space-between;
}

.titulo{
    width: 200px;
    margin: 1px;
    padding: 2px;
}

nav{
    display: inline-block;
    padding: 2px;
    margin: 2px;
}

#menu-nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    padding: 2px;
    margin: 2px;
}

#menu-nav li{
    float: left;
    margin: 2px;
    padding: 2px;
}

/*Pie de pagina*/

#footer{
    margin: 2px;
    padding: 24px;
}