#header{
    margin: 2px;
    padding: 24px;
}
#menu-nav{
    list-style: none;
    margin: 24px;
    padding: 24px;
    text-align: center;
}
#menu-nav li{
    float: left;
    margin: 2px;
    padding: 2px;
}
li{
    margin: 2px;
    padding: 2px;
}
#footer{
    margin: 2px;
    padding: 24px;
}